@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@400;500;700;800&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    padding: 1em;
    max-width: 1920px;
    margin: 0 auto;
}

/*---------------NAV STYLES------------- */

.c-nav__mobile,.c-nav__desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    margin-bottom: 3em;
    
}

.c-nav__mobile h1, .c-nav__desktop h1{
    font-family: 'Heebo', sans-serif;
    font-size: 36px;
    font-weight: 800;
}

.c-nav__mobile i{
    font-size: 24px;
}

.c-nav__desktop ul{
    display: flex;
    gap: 2em;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #333;
    font-size: 24px;
    font-weight: 500;
}

@media only screen and (max-width: 900px) {
    .c-nav__desktop{
        display: none;
    }
    
}

@media only screen and (min-width: 901px) {
    .c-nav__desktop{
        display: flex;
    }

    .c-nav__mobile{
        display: none;
    }
    
}

/*-------------HERO STYLES-----------------*/

.c-hero{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.c-hero span{
    padding-left: 2rem;
    color: #2D9CDB;
    font-size: 12px;
    font-weight: 500;
}

.c-hero h1{
    padding-left: 2rem;
    width: 272px;
    color:#333;
    font-size: 24px;
    font-weight: 500;
}

.c-hero img{
    border-radius: 18px;
}

.c-hero p{
    padding-left: 2rem;
    color:#4F4F4F;
    font-size: 12px;
    font-weight: 400;
    max-width: 90%;
}

.c-hero__newsletter{
    padding-left: 2rem;

}

.c-hero__newsletter p{
    padding-left: 0;
    color:#828282;
    font-size: 10px;
    font-weight: 500;
    
}
.c-newsletter__input{
    position: relative;
    width: 90%;
}

.c-hero__newsletter input{
    width: 100%;
    height: 47px;
    border: none;
    border-radius: 12px;
    background:#F2F2F2;
    padding-left: 1.5em;
    
}


.c-hero__newsletter button{
    position: absolute;
    top: 0;
    right: 0;
    width: 71px;
    height: 47px;
    border: none;
    border-radius: 12px;
    background: #2D9CDB;
    color: #fff;
    cursor: pointer;
}

@media only screen and (min-width:900px) {

    
    .c-hero h1{
        font-size: 36px;
        width: 450px;
        padding-left: 7rem;
    }

    .c-hero span{

        padding-left: 7rem;
    }

    .c-hero p{
        width: 350px;
        padding-left: 7rem;
    }

    .c-hero__newsletter{
        width: 350px;
        padding-left: 7rem;
    }

    .c-hero__newsletter p{
        padding-left: 0;
        margin-bottom: .5em;
    }

    
}

/*---------------------SERVICES STYLES------------------*/

.c-services .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    
}

.c-services h1{
    margin: 2em 0 2em 0;
    width: 300 px;
    color: #333;
    font-size: 24px;
    font-weight: 500;
}

.c-card{
    padding: 2em;
    max-width: 341px;
    max-height: 422px;  
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.c-card:hover{
    border-radius: 16px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    cursor: pointer;
}

.c-card__icon{
    width: 67px;
    height: 67px;
    border-radius: 16px;
    background: #2D9CDB;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.c-card .green{
    background: #27AE60;
}

.c-card .red{
    background-color: #EB5757;
}

.c-card h2{
    color: #333;
    font-size: 24px;
    font-weight: 700;
}

.c-card p{
    color:#4F4F4F;
    font-size: 16px;
    font-weight: 400;
}

.c-card__button{
    cursor: pointer;
    border: none;
    border-radius: 12px;
    background: #E0E0E0;
    width: 116px;
    height: 42px;   
    color: #828282;
    font-size: 16px;
    font-weight: 500;
}

.blue{
    background-color: #2D9CDB;
    color: #fff;
}

/*--------------------DESIGNS STYLES---------------*/


.c-designs{
    margin-top: 2em;
    display: grid;
    gap: 2em;
}

.c-designs h1{
    margin: 2em 0 2em 0;
    width: 300 px;
    color: #333;
    font-size: 24px;
    font-weight: 500;
    
}

.c-designs__card{
    
}



.c-designs__card img{
    border-radius: 30px;
    width: 100%;

}

.c-designs__card p{
    color: #828282;
    font-size: 14px;
    font-weight: 300;
}

.c-designs__card h3{
    color:#333;
    font-size: 18px;
    font-weight: 500;
}

.c-designs__link p{
    color: #2D9CDB;
    font-size: 24px;
    font-weight: 500;
}

@media only screen and (min-width:1150px) {

    .c-designs{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .c-designs__card{
        height: 850px;
    }

    .up{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .down{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    

    
}